{{!-- about page start --}}
    <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 max-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">Grow your Business with us👌</p>
          <div class="row">
             <div class="col-md-6 col-12 hero-text ">
                <figure>
                  <img src="images/about.svg" alt="herosection_image">
                </figure>
            </div>
            {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
              <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
              <p>Welcome to <span class="bold-style">Mishra Service</span>.We have technology, finally, that for the first time in human history allows people to really maintain rich connections with much larger numbers of people</p>
              {{!-- <button class="btn-style btn-primary">Read More</button> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
